body {
  color: #17394d;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.board-container {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  justify-content: space-between;
}

.columns-container {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  margin-top: 1rem;
  overflow-x: auto;
}
