.column-container {
  width: 300px;
  background-color: #dfe3e6;
  border-radius: 3px;
  overflow-y: auto;
}

.column-container:not(:first-child) {
  margin-left: 0.5rem;
}

.column-header {
  display: flex;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
}

.column-title {
  flex: 1;
}

.column-footer {
  padding: 0.5rem;
}
